BR2_TOOLCHAIN_EXTERNAL_ARM_AARCH64=y
# BR2_TOOLCHAIN_EXTERNAL_LINARO_AARCH64 is not set
# BR2_TOOLCHAIN_EXTERNAL_BOOTLIN is not set
# BR2_TOOLCHAIN_EXTERNAL_CUSTOM is not set
BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
# BR2_TOOLCHAIN_EXTERNAL_PREINSTALLED is not set
BR2_TOOLCHAIN_EXTERNAL_GLIBC=y
BR2_PACKAGE_HAS_TOOLCHAIN_EXTERNAL=y
BR2_PACKAGE_PROVIDES_TOOLCHAIN_EXTERNAL="toolchain-external-arm-aarch64"
BR2_TOOLCHAIN_EXTERNAL_PREFIX="aarch64-none-linux-gnu"
BR2_TOOLCHAIN_EXTERNAL_BOOTLIN_ARCH_SUPPORTS=y

