BR2_PACKAGE_XENOMAI_COBALT_ARCH_SUPPORTS=y
BR2_PACKAGE_XENOMAI=y
BR2_PACKAGE_XENOMAI_3_2=y
# BR2_PACKAGE_XENOMAI_3_1 is not set
# BR2_PACKAGE_XENOMAI_CUSTOM_VERSION is not set
# BR2_PACKAGE_XENOMAI_CUSTOM_TARBALL is not set
# BR2_PACKAGE_XENOMAI_CUSTOM_GIT is not set
BR2_PACKAGE_XENOMAI_VERSION="v3.2.2"
# BR2_PACKAGE_XENOMAI_MERCURY is not set
BR2_PACKAGE_XENOMAI_COBALT=y
BR2_PACKAGE_XENOMAI_ENABLE_SMP=y
BR2_PACKAGE_XENOMAI_TESTSUITE=y
