#include "base/common.config"

BR2_ROOTFS_OVERLAY+="board/rockchip/common/base"

# Devtmpfs + eudev
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y

# Basic tools
BR2_PACKAGE_ANDROID_TOOLS=y
BR2_PACKAGE_INPUT_EVENT_DAEMON=y
BR2_PACKAGE_PM_UTILS=y
BR2_PACKAGE_USBMOUNT=y
BR2_PACKAGE_UTIL_LINUX_MOUNT=y

# For Rockchip SN and MAC addresses
BR2_PACKAGE_VENDOR_STORAGE=y

# Rootfs configs
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="AUTO"

# For OTA
BR2_PACKAGE_UPDATE=y
