# Rockchip common config, every Rockchip defconfig should include it

#include "base/kernel.config"
#include "e2fs.config"

# Rockchip BSP packages
BR2_PACKAGE_ROCKCHIP=y

# Toolchain
BR2_CCACHE=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y

# Basic tools
BR2_PACKAGE_RKSCRIPT=y
BR2_PACKAGE_BUSYBOX=y
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="board/rockchip/common/base/busybox.fragment"

# Rootfs configs
BR2_TARGET_GENERIC_ROOT_PASSWD="rockchip"
BR2_ROOTFS_MERGED_USR=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_TARGET_ROOTFS_SQUASHFS=y

# Hook script for all of Rockchip linux SDKs
BR2_ROOTFS_POST_BUILD_SCRIPT="../device/rockchip/common/post-build.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="$(BR2_DEFCONFIG)"

# /etc/ld.so.cache
BR2_PACKAGE_GLIBC_GEN_LD_CACHE=y
BR2_PACKAGE_HOST_QEMU=y
BR2_PACKAGE_HOST_QEMU_LINUX_USER_MODE=y

# Host tools
BR2_PACKAGE_HOST_E2FSPROGS=y
BR2_PACKAGE_HOST_NTFS_3G=y
BR2_PACKAGE_HOST_PYTHON3=y
BR2_PACKAGE_HOST_PYTHON3_SSL=y
