#include "base/common.config"

BR2_PACKAGE_BUSYBOX_CONFIG="package/busybox/busybox-minimal.config"
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="board/rockchip/common/tinyrootfs/busybox.fragment"

BR2_ROOTFS_OVERLAY+="board/rockchip/common/tinyrootfs/overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT+="board/rockchip/common/tinyrootfs/post-build-tinyrootfs.sh"

BR2_TARGET_ROOTFS_ROMFS=y
