#include "base/base.config"
#include "chips/rk3326_aarch64.config"
#include "fs/vfat.config"
#include "multimedia/audio.config"
#include "multimedia/camera.config"
#include "multimedia/mpp.config"
#include "wifibt/wireless.config"
#include "debug.config"
BR2_ROOTFS_OVERLAY+="board/rockchip/px30/fs-overlay-64/"
BR2_TARGET_GENERIC_HOSTNAME="px30_robot"
