#include "base/base.config"
#include "chips/rk3588_aarch64.config"
#include "fs/vfat.config"
#include "gpu/dummy.config"
#include "multimedia/mpp.config"
#include "debug2.config"
#include "debug.config"
#include "test.config"
BR2_PACKAGE_RKNPU=y
BR2_PACKAGE_RKNPU_USE_RKNN_API=y
