#include "chips/rk3576_aarch64.config"
#include "base/kernel.config"
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_PACKAGE_LUKSMETA=y
BR2_ROOTFS_OVERLAY+="board/rockchip/common/security-ramdisk-overlay/"
