#include "base/base.config"
#include "chips/rk3036_arm.config"
#include "audio.config"
#include "audio_gst.config"
#include "weston.config"
#include "gpu.config"
#include "powermanager.config"
#include "video_mpp.config"
#include "video_gst.config"
#include "video_gst_rtsp.config"
#include "ntfs.config"
#include "benchmark.config"
#include "debug.config"
#include "network.config"
#include "bt.config"
