#include "base/base.config"
#include "chips/rv1126_rv1109_arm.config"
#include "multimedia/audio.config"
#include "multimedia/camera.config"
#include "multimedia/mpp.config"
#include "debug.config"
BR2_PACKAGE_AISERVER=y
BR2_PACKAGE_AISERVER_SHM_SERVER=y
BR2_PACKAGE_AISERVER_USE_ROCKX=y
BR2_PACKAGE_CALLFUNIPC=y
BR2_PACKAGE_CAMERA_ENGINE_RKAIQ_IQFILE="os04a10_CMK-OT1607-FV1_M12-40IRC-4MP-F16.xml gc4c33_PCORW0009A_40IRC-4M.xml imx378_A12N01B_48IRC-12M-F18.xml"
BR2_PACKAGE_DBSERVER=y
BR2_PACKAGE_DBUS_GLIB=y
BR2_PACKAGE_GDB=y
BR2_PACKAGE_GDB_DEBUGGER=y
BR2_PACKAGE_ISP2_IPC=y
BR2_PACKAGE_ISP2_IPC_DBSERVER=y
BR2_PACKAGE_ISP2_IPC_DBUS=y
BR2_PACKAGE_LIBIPCPROTOCOL=y
# BR2_PACKAGE_PM_UTILS is reset to default
BR2_PACKAGE_SMART_DISPLAY_SERVICE=y
BR2_PACKAGE_UAC_APP=y
# BR2_PACKAGE_UPDATE is reset to default
# BR2_PACKAGE_USBMOUNT is reset to default
# BR2_PACKAGE_UTIL_LINUX_MOUNT is reset to default
BR2_PACKAGE_UVC_APP=y
# BR2_PACKAGE_VENDOR_STORAGE is reset to default
BR2_ROOTFS_OVERLAY+="board/rockchip/rv1126_rv1109/fs-overlay-uvc/"
