#include "base/base.config"
#include "chips/rk3562_aarch64.config"
#include "fs/exfat.config"
#include "fs/ntfs.config"
#include "fs/vfat.config"
#include "gpu/gpu.config"
#include "multimedia/audio.config"
#include "multimedia/camera.config"
#include "multimedia/mpp.config"
#include "npu2.config"
#include "wifibt/bt.config"
#include "wifibt/wireless.config"
#include "tools/common.config"
#include "tools/test.config"
#include "powermanager.config"
