#include "base/base.config"
#include "chips/rk356x_aarch64.config"
#include "tee_aarch64_v2.config"
BR2_PACKAGE_ANDROID_TOOLS=
BR2_PACKAGE_INPUT_EVENT_DAEMON=
BR2_PACKAGE_LUKSMETA=y
BR2_PACKAGE_PM_UTILS=
BR2_PACKAGE_RKSCRIPT=
BR2_PACKAGE_UPDATE=
BR2_PACKAGE_USBMOUNT=
BR2_PACKAGE_UTIL_LINUX_MOUNT=
BR2_PACKAGE_VENDOR_STORAGE=
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=
BR2_ROOTFS_OVERLAY+="board/rockchip/common/security-ramdisk-overlay/"
