#include "base/base.config"
#include "chips/rk3326_arm.config"
#include "font/chinese.config"
#include "fs/vfat.config"
#include "gpu/gpu.config"
#include "multimedia/audio.config"
#include "multimedia/camera.config"
#include "multimedia/gst/audio.config"
#include "multimedia/gst/camera.config"
#include "multimedia/gst/video.config"
#include "multimedia/mpp.config"
#include "wifibt/bt.config"
#include "wifibt/wireless.config"
#include "tools/benchmark.config"
#include "tools/common.config"
#include "tools/test.config"
#include "powermanager.config"
#include "weston.config"
BR2_TARGET_GENERIC_HOSTNAME="rk3358_32"
BR2_TARGET_GENERIC_ISSUE="Welcome to RK3358 Buildroot"
