#include "base/base.config"
#include "chips/rv1126_rv1109_arm.config"
#include "multimedia/audio.config"
#include "multimedia/camera.config"
#include "multimedia/mpp.config"
#include "wifibt/bt.config"
#include "wifibt/wireless.config"
#include "debug.config"
#include "update_engine.config"
BR2_PACKAGE_CAMERA_ENGINE_RKAIQ_IQFILE="os04a10_CMK-OT1607-FV1_M12-40IRC-4MP-F16.xml imx335_MTV4-IR-E-P_40IRC-4MP-F16.xml imx415_YT10092_IR0147-36IRC-8M-F20.xml"
BR2_PACKAGE_CAMERA_ENGINE_RKAIQ_RKISP_DEMO=y
BR2_PACKAGE_COMMON_ALGORITHM_RKAPPLUS=y
BR2_PACKAGE_DBUS_CPP=y
BR2_PACKAGE_DBUS_GLIB=y
BR2_PACKAGE_DRM_DISPLAY_OUTPUT=y
# BR2_PACKAGE_EUDEV_ENABLE_HWDB is not set
BR2_PACKAGE_FCGIWRAP=y
BR2_PACKAGE_GESFTPSERVER=
BR2_PACKAGE_IPCWEB_BACKEND=y
BR2_PACKAGE_IPCWEB_BACKEND_USE_RKIPC=y
BR2_PACKAGE_JSON_C=y
BR2_PACKAGE_LIBMAD=
# BR2_PACKAGE_MINIGUI_SOFTWARE_SCALE is not set
BR2_PACKAGE_NGINX=y
BR2_PACKAGE_NGINX_ADD_MODULES="../nginx-http-flv-live-v1.2.10"
BR2_PACKAGE_NGINX_DEBUG=y
BR2_PACKAGE_NGINX_HTTP_FLV_LIVE=y
BR2_PACKAGE_NGINX_HTTP_FLV_MODULE=y
BR2_PACKAGE_NGINX_HTTP_SSL_MODULE=y
# BR2_PACKAGE_NTP_NTPD is not set
BR2_PACKAGE_OEM=y
BR2_PACKAGE_OEM_PACKAGES="ipcweb-backend"
BR2_PACKAGE_PIXMAN=y
BR2_PACKAGE_RKFSMK=y
BR2_PACKAGE_RKIPC=y
BR2_PACKAGE_RKIPC_RV1126=y
BR2_PACKAGE_RKMEDIA_ALSA=y
BR2_PACKAGE_RKMEDIA_ALSA_CAPTURE=y
BR2_PACKAGE_RKMEDIA_ALSA_PLAYBACK=y
BR2_PACKAGE_RKMEDIA_AUDIO_ALGORITHM=y
BR2_PACKAGE_RKMEDIA_AUDIO_CODEC=y
BR2_PACKAGE_RKMEDIA_AUDIO_DECODER=y
BR2_PACKAGE_RKMEDIA_AUDIO_ENCODER=y
BR2_PACKAGE_RKMEDIA_EXAMPLES=y
BR2_PACKAGE_RKMEDIA_MOVE_DETECTION=y
BR2_PACKAGE_RKMEDIA_MPP=y
BR2_PACKAGE_RKMEDIA_OCCLUSION_DETECTION=y
BR2_PACKAGE_RKMEDIA_RKNN=y
BR2_PACKAGE_RKMEDIA_RKRGA=y
BR2_PACKAGE_RKMEDIA_ROCKX=y
BR2_PACKAGE_RKMEDIA_USE_AIQ=y
BR2_PACKAGE_RKMEDIA_V4L2_CAPTURE=y
BR2_PACKAGE_ROCKCHIP_MPP_TESTS=
BR2_PACKAGE_ROCKX_PERSON_DETECTION=y
BR2_PACKAGE_SQLITE=y
BR2_PACKAGE_UTIL_LINUX_MOUNT=
BR2_PACKAGE_VENDOR_STORAGE_LIBRARY=y
BR2_PACKAGE_WPA_SUPPLICANT_AP_SUPPORT=
BR2_PACKAGE_WPA_SUPPLICANT_AUTOSCAN=
BR2_PACKAGE_WPA_SUPPLICANT_CLI=
BR2_PACKAGE_WPA_SUPPLICANT_EAP=
BR2_PACKAGE_WPA_SUPPLICANT_PASSPHRASE=
BR2_PACKAGE_WPA_SUPPLICANT_WPA_CLIENT_SO=
BR2_ROOTFS_OVERLAY+="board/rockchip/rv1126_rv1109/fs-overlay-sysv/"
