#include "base/base.config"
#include "debug.config"
#include "debug2.config"
#include "chips/rk3588_aarch64.config"
#include "test.config"
#include "video_mpp.config"
#include "gpu_dummy.config"
BR2_CCACHE=
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_DOSFSTOOLS_MKFS_FAT=y
BR2_PACKAGE_RKNPU=y
BR2_PACKAGE_RKNPU_USE_RKNN_API=y
BR2_PACKAGE_UPOWER=y
BR2_PACKAGE_UTIL_LINUX_MOUNT=
BR2_ROOTFS_MERGED_USR=
BR2_TARGET_GENERIC_ROOT_PASSWD=
