#include "base/base.config"
#include "chips/rk356x_aarch64.config"
#include "gpu/dummy.config"
#include "multimedia/audio.config"
#include "multimedia/camera.config"
#include "multimedia/mpp.config"
BR2_PACKAGE_ANDROID_TOOLS=
BR2_PACKAGE_CAMERA_ENGINE_RKAIQ_IQFILE="ov5695_TongJu_CHT842-MD.xml"
BR2_PACKAGE_INPUT_EVENT_DAEMON=
BR2_PACKAGE_PM_UTILS=
BR2_PACKAGE_RKNPU=y
BR2_PACKAGE_RKNPU_USE_RKNN_API=y
BR2_PACKAGE_UPDATE=
BR2_PACKAGE_UTIL_LINUX_MOUNT=
BR2_PACKAGE_VENDOR_STORAGE=
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=
BR2_ROOTFS_POST_BUILD_SCRIPT+="board/rockchip/rk356x/post-script-bsp.sh"
