#include "base/base.config"
#include "chips/rv1126_rv1109_arm.config"
#include "multimedia/audio.config"
#include "multimedia/camera.config"
#include "multimedia/mpp.config"
BR2_ARM_INSTRUCTIONS_THUMB2=y
# BR2_PACKAGE_ALSA_PLUGINS is reset to default
# BR2_PACKAGE_ALSA_UCM_CONF is reset to default
# BR2_PACKAGE_ALSA_UTILS is reset to default
# BR2_PACKAGE_ALSA_UTILS_ALSACONF is reset to default
# BR2_PACKAGE_ALSA_UTILS_AMIXER is reset to default
# BR2_PACKAGE_ALSA_UTILS_APLAY is reset to default
# BR2_PACKAGE_ANDROID_TOOLS is reset to default
# BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES is reset to default
# BR2_PACKAGE_BUSYBOX_SHOW_OTHERS is reset to default
# BR2_PACKAGE_CAMERA_ENGINE is reset to default
BR2_PACKAGE_CAMERA_ENGINE_RKAIQ_IQFILE="os04a10_CMK-OT1607-FV1_M12-40IRC-4MP-F16.xml imx335_MTV4-IR-E-P_40IRC-4MP-F16.xml imx415_YT10092_IR0147-36IRC-8M-F20.xml"
BR2_PACKAGE_COMMON_ALGORITHM_RKAPPLUS=y
BR2_PACKAGE_DRM_DISPLAY_OUTPUT=y
# BR2_PACKAGE_E2FSPROGS is reset to default
# BR2_PACKAGE_E2FSPROGS_RESIZE2FS is reset to default
# BR2_PACKAGE_EUDEV_ENABLE_HWDB is not set
BR2_PACKAGE_HOST_E2FSPROGS=y
# BR2_PACKAGE_IFUPDOWN_SCRIPTS is not set
# BR2_PACKAGE_INPUT_EVENT_DAEMON is reset to default
BR2_PACKAGE_IPCWEB_BACKEND=y
BR2_PACKAGE_IPCWEB_BACKEND_USE_RKIPC=y
# BR2_PACKAGE_LIBMAD is reset to default
BR2_PACKAGE_LIBPNG=y
# BR2_PACKAGE_MINIGUI_SOFTWARE_SCALE is not set
BR2_PACKAGE_MTD=y
# BR2_PACKAGE_MTD_MTD_DEBUG is not set
# BR2_PACKAGE_MTD_MTDINFO is not set
# BR2_PACKAGE_MTD_NANDDUMP is not set
# BR2_PACKAGE_MTD_NANDTEST is not set
# BR2_PACKAGE_MTD_NANDWRITE is not set
# BR2_PACKAGE_MTD_UBIATTACH is not set
# BR2_PACKAGE_MTD_UBIBLOCK is not set
# BR2_PACKAGE_MTD_UBICRC32 is not set
# BR2_PACKAGE_MTD_UBIDETACH is not set
# BR2_PACKAGE_MTD_UBIFORMAT is not set
# BR2_PACKAGE_MTD_UBIMKVOL is not set
# BR2_PACKAGE_MTD_UBINFO is not set
# BR2_PACKAGE_MTD_UBINIZE is not set
# BR2_PACKAGE_MTD_UBIRENAME is not set
# BR2_PACKAGE_MTD_UBIRMVOL is not set
# BR2_PACKAGE_MTD_UBIRSVOL is not set
# BR2_PACKAGE_MTD_UBIUPDATEVOL is not set
BR2_PACKAGE_OEM=y
BR2_PACKAGE_OEM_PACKAGES="rkipc rkmedia ipcweb-backend"
# BR2_PACKAGE_PM_UTILS is reset to default
BR2_PACKAGE_RKFSMK=y
BR2_PACKAGE_RKIPC=y
BR2_PACKAGE_RKIPC_RV1126=y
BR2_PACKAGE_RKMEDIA_ALSA=y
BR2_PACKAGE_RKMEDIA_ALSA_CAPTURE=y
BR2_PACKAGE_RKMEDIA_ALSA_PLAYBACK=y
BR2_PACKAGE_RKMEDIA_AUDIO_ALGORITHM=y
BR2_PACKAGE_RKMEDIA_AUDIO_CODEC=y
BR2_PACKAGE_RKMEDIA_AUDIO_ENCODER=y
BR2_PACKAGE_RKMEDIA_LIVE555=y
BR2_PACKAGE_RKMEDIA_MPP=y
BR2_PACKAGE_RKMEDIA_RKRGA=y
BR2_PACKAGE_RKMEDIA_RTSP_SERVER=y
BR2_PACKAGE_RKMEDIA_RTSP_SERVER_H264=y
BR2_PACKAGE_RKMEDIA_RTSP_SERVER_H265=y
BR2_PACKAGE_RKMEDIA_USE_AIQ=y
BR2_PACKAGE_RKMEDIA_V4L2_CAPTURE=y
# BR2_PACKAGE_ROCKCHIP_ALSA_CONFIG is reset to default
# BR2_PACKAGE_ROCKCHIP_MPP is reset to default
# BR2_PACKAGE_ROCKCHIP_MPP_ALLOCATOR_DRM is reset to default
# BR2_PACKAGE_ROCKCHIP_RGA is reset to default
# BR2_PACKAGE_UPDATE is reset to default
# BR2_PACKAGE_USBMOUNT is reset to default
# BR2_PACKAGE_UTIL_LINUX_MOUNT is reset to default
# BR2_PACKAGE_VENDOR_STORAGE is reset to default
BR2_ROOTFS_OVERLAY+="board/rockchip/rv1126_rv1109/fs-overlay-sysv/"
# BR2_TARGET_ROOTFS_EXT2 is reset to default
# BR2_TARGET_ROOTFS_EXT2_4 is reset to default
# BR2_TARGET_ROOTFS_EXT2_SIZE is reset to default
BR2_TARGET_ROOTFS_JFFS2=y
BR2_TARGET_ROOTFS_JFFS2_FLASH_64=y
BR2_TARGET_ROOTFS_SQUASHFS4_XZ=y
# BR2_TARGET_ROOTFS_TAR is not set
