#include "chips/rk3308_arm.config"
#include "base/tiny.config"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_10=y
BR2_PACKAGE_TAR=y
BR2_ROOTFS_POST_BUILD_SCRIPT+="board/rockchip/common/tinyrecovery/post-build-tinyrecovery.sh"
