#include "chips/rk1808_aarch64.config"
#include "base/base.config"
#include "debug.config"
#include "vfat.config"
BR2_PACKAGE_RKNPU=y
BR2_PACKAGE_RKNPU_NTB=y
BR2_TARGET_GENERIC_HOSTNAME="rk1808"
BR2_TARGET_GENERIC_ISSUE="Welcome to RK1808 Buildroot"
