#include "base/base.config"
#include "chips/rk3399pro_npu_aarch64.config"
#include "multimedia/camera.config"
# BR2_PACKAGE_ANDROID_ADBD is reset to default
# BR2_PACKAGE_E2FSPROGS is reset to default
BR2_PACKAGE_LIBUSB=y
BR2_PACKAGE_LIBXML2=y
BR2_PACKAGE_LRZSZ=y
BR2_PACKAGE_N4=y
BR2_PACKAGE_PROCRANK_LINUX=y
BR2_PACKAGE_RKNPU=y
BR2_PACKAGE_RKNPU_ACM=y
BR2_PACKAGE_RKNPU_PCIE=y
BR2_PACKAGE_ROCKCHIP_TEST=y
# BR2_PACKAGE_USBMOUNT is reset to default
# BR2_PACKAGE_UTIL_LINUX_MOUNT is reset to default
