#include "chips/rk3399pro_npu_aarch64.config"
#include "base/base.config"
BR2_PACKAGE_E2FSPROGS=
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=
BR2_PACKAGE_IO=y
BR2_PACKAGE_LIBUSB=y
BR2_PACKAGE_LIBXML2=y
BR2_PACKAGE_PM_UTILS=
BR2_PACKAGE_PROCRANK_LINUX=y
BR2_PACKAGE_RKNPU=y
BR2_PACKAGE_RKNPU_NTB=y
BR2_PACKAGE_ROCKCHIP_TEST=y
BR2_PACKAGE_UPDATE=
BR2_PACKAGE_USBMOUNT=
BR2_PACKAGE_UTIL_LINUX_MOUNT=
BR2_PACKAGE_VENDOR_STORAGE=
