#include "base/base.config"
#include "chips/rk3326_aarch64.config"
#include "multimedia/audio.config"
#include "wifibt/wireless.config"
BR2_PACKAGE_COREUTILS=y
# BR2_PACKAGE_EUDEV_ENABLE_HWDB is not set
BR2_PACKAGE_EVTEST=y
BR2_PACKAGE_INPUT_EVENT_DAEMON=
BR2_PACKAGE_IO=y
BR2_PACKAGE_IW=y
BR2_PACKAGE_PM_UTILS=
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_USBMOUNT=
BR2_PACKAGE_UTIL_LINUX_MOUNT=
BR2_TARGET_GENERIC_HOSTNAME="rk3326_robot64"
BR2_TARGET_GENERIC_ISSUE="Welcome to RK3326 Buildroot For Robot"
