#include "base/base.config"
#include "chips/rk3308_arm.config"
#include "fs/vfat.config"
#include "multimedia/audio.config"
#include "wifibt/bt.config"
#include "wifibt/wireless.config"
#include "debug.config"
BR2_PACKAGE_ALSA_LADSPA=y
BR2_PACKAGE_ALSA_UTILS_SPEAKER_TEST=y
BR2_PACKAGE_HOST_VBOOT_UTILS=y
BR2_PACKAGE_IPTABLES=y
BR2_PACKAGE_PCBA=y
BR2_PACKAGE_UTIL_LINUX_RFKILL=y
BR2_ROOTFS_OVERLAY+="board/rockchip/rk3308/fs-overlay-pcba"
BR2_TARGET_GENERIC_HOSTNAME="rockchip"
BR2_TARGET_GENERIC_ISSUE="Welcome to Rockchip"
