#include "base/base.config"
#include "chips/rk3308_aarch64.config"
#include "multimedia/audio.config"
#include "wifibt/wireless.config"
BR2_PACKAGE_COREUTILS=y
# BR2_PACKAGE_EUDEV_ENABLE_HWDB is not set
BR2_PACKAGE_EVTEST=y
# BR2_PACKAGE_INPUT_EVENT_DAEMON is reset to default
BR2_PACKAGE_IO=y
BR2_PACKAGE_IW=y
# BR2_PACKAGE_PM_UTILS is reset to default
BR2_PACKAGE_STRACE=y
# BR2_PACKAGE_UPDATE is reset to default
# BR2_PACKAGE_USBMOUNT is reset to default
# BR2_PACKAGE_UTIL_LINUX_MOUNT is reset to default
BR2_TARGET_GENERIC_HOSTNAME="rk3308_robot64"
BR2_TARGET_GENERIC_ISSUE="Welcome to RK3308 Buildroot For Robot"
