#include "chips/rk3328_aarch64.config"
#include "base/base.config"
#include "gpu.config"
#include "weston.config"
#include "video_mpp.config"
#include "video_gst.config"
#include "video_gst_rtsp.config"
#include "audio.config"
#include "audio_gst.config"
#include "camera.config"
#include "camera_gst.config"
#include "test.config"
#include "debug.config"
#include "benchmark.config"
#include "network.config"
#include "bt.config"
#include "vfat.config"
BR2_PACKAGE_RKSCRIPT_DEFAULT_PCM="rockchiphdmi"
BR2_TARGET_GENERIC_HOSTNAME="rk3328"
BR2_TARGET_GENERIC_ISSUE="Welcome to RK3328 Buildroot"
