#include "base/base.config"
#include "chips/rk1808.config"
BR2_aarch64=y
BR2_cortex_a35=y
BR2_PACKAGE_ABOOTIMG=y
# BR2_PACKAGE_ANDROID_TOOLS is reset to default
# BR2_PACKAGE_E2FSPROGS is reset to default
# BR2_PACKAGE_INPUT_EVENT_DAEMON is reset to default
BR2_PACKAGE_IO=y
BR2_PACKAGE_LIBDRM_INSTALL_TESTS=y
BR2_PACKAGE_LIBUSB=y
BR2_PACKAGE_LIBV4L=y
BR2_PACKAGE_LIBV4L_UTILS=y
BR2_PACKAGE_LIBXML2=y
# BR2_PACKAGE_PM_UTILS is reset to default
BR2_PACKAGE_PROCRANK_LINUX=y
BR2_PACKAGE_RKNPU=y
BR2_PACKAGE_ROCKCHIP_RGA=y
# BR2_PACKAGE_UPDATE is reset to default
# BR2_PACKAGE_USBMOUNT is reset to default
# BR2_PACKAGE_UTIL_LINUX_MOUNT is reset to default
# BR2_PACKAGE_VENDOR_STORAGE is reset to default
BR2_ROOTFS_OVERLAY+="board/rockchip/rk1808_multi/fs-overlay-64/"
