#include "base/base.config"
#include "chips/rk3576_aarch64.config"
#include "fs/exfat.config"
#include "fs/ntfs.config"
#include "fs/vfat.config"
#include "gpu/gpu.config"
#include "multimedia/audio.config"
#include "multimedia/camera.config"
#include "multimedia/mpp.config"
#include "npu2.config"
#include "tools/gdb.config"
BR2_PACKAGE_ANDROID_ADBD_TCP_PORT=5555
# BR2_PACKAGE_CAMERA_ENGINE is reset to default
BR2_PACKAGE_COMMON_ALGORITHM=y
BR2_PACKAGE_HOST_CMAKE=y
# BR2_PACKAGE_HOST_GDB_PYTHON is reset to default
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y
BR2_PACKAGE_IPCWEB_BACKEND=y
# BR2_PACKAGE_IPCWEB_BACKEND_JWT is not set
BR2_PACKAGE_IPCWEB_BACKEND_USE_RKIPC=y
BR2_PACKAGE_IVA=y
# BR2_PACKAGE_LIBMAD is reset to default
BR2_PACKAGE_LIBV4L_RKMPP=y
BR2_PACKAGE_NGINX=y
BR2_PACKAGE_NGINX_HTTP_FLV_LIVE=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_PCRE=y
# BR2_PACKAGE_PULSEAUDIO is reset to default
BR2_PACKAGE_RKFSMK=y
BR2_PACKAGE_RKIPC=y
BR2_PACKAGE_RKIPC_RK3576=y
BR2_PACKAGE_ROCKCHIP_MALI_HAS_DUMMY=y
BR2_PACKAGE_ROCKCHIP_MALI_HAS_GBM=y
BR2_PACKAGE_ROCKCHIP_MPP_TESTS=y
BR2_ROOTFS_OVERLAY="board/rockchip/common/base board/rockchip/rk3576/fs-overlay-ipc/"
