#include "base/nvr.config"
#include "chips/rk356x_aarch64.config"
#include "fs/ubifs.config"
#include "gpu/nvr.config"
#include "multimedia/audio.config"
#include "multimedia/mpp.config"
#include "wifibt/network.config"
BR2_PACKAGE_INPUT_EVENT_DAEMON=
BR2_PACKAGE_PM_UTILS=
BR2_ROOTFS_OVERLAY+="board/rockchip/rk356x/fs-overlay-nvr/"
BR2_TARGET_ROOTFS_CPIO=
BR2_TARGET_ROOTFS_CPIO_GZIP=
