#include "chips/rk3326_aarch64.config"
#include "base/base.config"
#include "base/recovery.config"
BR2_CCACHE=
BR2_PACKAGE_UPOWER=y
BR2_PACKAGE_UTIL_LINUX_MOUNT=
BR2_ROOTFS_MERGED_USR=
BR2_TARGET_GENERIC_ROOT_PASSWD=
