#include "base/base.config"
#include "chips/rk3308_arm.config"
#include "fs/vfat.config"
#include "multimedia/audio.config"
#include "wifibt/wireless.config"
#include "tools/test.config"
BR2_PACKAGE_COREUTILS=y
BR2_PACKAGE_EVTEST=y
BR2_PACKAGE_I2C_TOOLS=y
BR2_PACKAGE_IW=y
BR2_PACKAGE_STRACE=y
BR2_TARGET_GENERIC_HOSTNAME="rk3308h_32"
