#include "chips/rk3308_arm.config"
#include "base/recovery.config"
BR2_CCACHE=
BR2_PACKAGE_ANDROID_TOOLS=y
BR2_PACKAGE_RECOVERY_NO_UI=y
BR2_PACKAGE_VENDOR_STORAGE=y
BR2_ROOTFS_MERGED_USR=
BR2_TARGET_GENERIC_ROOT_PASSWD=
BR2_TARGET_ROOTFS_SQUASHFS=
