#include "chips/rk3288_arm.config"
#include "base/base.config"
#include "audio.config"
#include "audio_gst.config"
#include "camera.config"
#include "camera_gst.config"
#include "weston.config"
#include "chromium.config"
#include "gpu.config"
#include "powermanager.config"
#include "video_mpp.config"
#include "video_gst.config"
#include "video_gst_rtsp.config"
#include "ntfs.config"
#include "exfat.config"
#include "vfat.config"
#include "benchmark.config"
#include "debug.config"
#include "test.config"
#include "network.config"
#include "bt.config"
