#include "base/base.config"
#include "chips/rk1806_arm.config"
#include "fs/vfat.config"
#include "multimedia/camera.config"
#include "debug.config"
BR2_PACKAGE_CAMERA_ENGINE=
BR2_PACKAGE_CAMERA_ENGINE_RKISP_3A_SPEEDUP_DIR_ETC=y
BR2_PACKAGE_CAMERA_ENGINE_RKISP_IQFILE="ps5268_default_default.xml"
BR2_PACKAGE_FACE_DETECT=y
BR2_PACKAGE_LIBDRM_INSTALL_TESTS=y
BR2_PACKAGE_RKNPU_USE_MINI_DRIVER=y
