#include "base.config"
#include "base_extra.config"
#include "rk3588_aarch64.config"
#include "audio.config"
#include "audio_gst.config"
#include "video_mpp.config"
#include "video_gst.config"
#include "gpu.config"
BR2_PACKAGE_MESA3D=y
BR2_PACKAGE_MESA3D_OSMESA_GALLIUM=y
BR2_PACKAGE_MESA3D_OPENGL_GLX=y
BR2_PACKAGE_XORG7=y
BR2_PACKAGE_XSERVER_XORG_SERVER=y
BR2_RELRO_NONE=y
BR2_PACKAGE_GLIBC_2_29=y
BR2_GCC_VERSION_10_X=y
