#include "base/tiny.config"
#include "chips/rv1126_rv1109_arm.config"
#include "camera.config"
BR2_PACKAGE_CAMERA_ENGINE=
BR2_PACKAGE_CAMERA_ENGINE_RKAIQ_FAKE_CAMERA_IQFILE="os04c10_DW-RV04C_2G2P650IR-F21.xml"
BR2_PACKAGE_CAMERA_ENGINE_RKAIQ_IQFILE="os04c10_DW-RV04C_2G2P650IR-F21.xml"
BR2_PACKAGE_CAMERA_ENGINE_RKAIQ_IQFILE_USE_BIN=y
BR2_PACKAGE_CVR_APP=y
BR2_PACKAGE_DRM_DISPLAY_OUTPUT=y
BR2_PACKAGE_E2FSPROGS=
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=
BR2_PACKAGE_FREETYPE=y
# BR2_PACKAGE_IFUPDOWN_SCRIPTS is not set
BR2_PACKAGE_LIBGLIB2=y
BR2_PACKAGE_LIBPNG=y
# BR2_PACKAGE_MINIGUI_SOFTWARE_SCALE is not set
BR2_PACKAGE_RKADK_ROCKIT=y
BR2_PACKAGE_RKMEDIA_ALSA=y
BR2_PACKAGE_RKMEDIA_ALSA_CAPTURE=y
BR2_PACKAGE_RKMEDIA_ALSA_PLAYBACK=y
BR2_PACKAGE_RKMEDIA_AUDIO_CODEC=y
BR2_PACKAGE_RKMEDIA_AUDIO_DECODER=y
BR2_PACKAGE_RKMEDIA_AUDIO_ENCODER=y
BR2_PACKAGE_RKMEDIA_MPP=y
BR2_PACKAGE_RKMEDIA_RKRGA=y
BR2_PACKAGE_RKMEDIA_USE_AIQ=y
BR2_PACKAGE_RKMEDIA_V4L2_CAPTURE=y
BR2_PACKAGE_THUNDERBOOT=y
BR2_PACKAGE_THUNDERBOOT_USE_EUDEV=y
BR2_ROOTFS_OVERLAY="board/rockchip/common/tinyrootfs/overlay board/rockchip/rv1126_rv1109/fs-overlay-trailcamera"
BR2_TARGET_GENERIC_ISSUE="Welcome to Battery EVB"
BR2_TARGET_GENERIC_ROOT_PASSWD=
BR2_TARGET_ROOTFS_CPIO=
BR2_TARGET_ROOTFS_CPIO_GZIP=
BR2_TARGET_ROOTFS_SQUASHFS=
BR2_THUNDERBOOT_INSTALL_MODULES="dw_mmc-rockchip.ko"
BR2_THUNDERBOOT_SIMPLIFY_USB=y
BR2_THUNDERBOOT_USB_ADBD=y
BR2_PACKAGE_RKSCRIPT=
