#include "base/base.config"
#include "chips/rk3399pro_npu_aarch64.config"
#include "camera.config"
BR2_PACKAGE_ANDROID_TOOLS=
BR2_PACKAGE_E2FSPROGS=
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=
BR2_PACKAGE_IO=y
BR2_PACKAGE_LIBDRM_INSTALL_TESTS=y
BR2_PACKAGE_LIBUSB=y
BR2_PACKAGE_LIBV4L=
BR2_PACKAGE_LIBV4L_UTILS=
BR2_PACKAGE_LIBXML2=y
BR2_PACKAGE_LRZSZ=y
BR2_PACKAGE_N4=y
BR2_PACKAGE_PROCRANK_LINUX=y
BR2_PACKAGE_RK3399PRO_NPU=
BR2_PACKAGE_RKNPU=y
BR2_PACKAGE_RKNPU_ACM=y
BR2_PACKAGE_RKNPU_PCIE=y
BR2_PACKAGE_ROCKCHIP_TEST=y
BR2_PACKAGE_UPDATE=
BR2_PACKAGE_USBMOUNT=
BR2_PACKAGE_UTIL_LINUX_MOUNT=
BR2_PACKAGE_VENDOR_STORAGE=
