#include "chips/rk3326_arm.config"
#include "base/base.config"
#include "yx.config"
BR2_PACKAGE_NTFS_3G_NTFSPROGS=
BR2_ROOTFS_OVERLAY+="board/rockchip/yx/fs-overlay/"
BR2_TARGET_GENERIC_HOSTNAME="rk3358_32"
BR2_TARGET_GENERIC_ISSUE="Welcome to RK3358 Buildroot"
