#include "base/base.config"
#include "chips/rv1126_rv1109_arm.config"
#include "base/recovery.config"
#include "update_engine.config"
BR2_CCACHE=
BR2_PACKAGE_DOSFSTOOLS_FATLABEL=
BR2_PACKAGE_FATRESIZE=
BR2_PACKAGE_PARTED=
BR2_PACKAGE_RECOVERY_BOOTCONTROL=
BR2_PACKAGE_RECOVERY_RECOVERYBIN=y
BR2_PACKAGE_UPOWER=y
BR2_PACKAGE_UTIL_LINUX_MOUNT=
BR2_ROOTFS_MERGED_USR=
BR2_TARGET_GENERIC_ROOT_PASSWD=
BR2_TARGET_ROOTFS_EXT2_MKFS_OPTIONS="-O ^64bit,^huge_file"
