#include "base.config"
#include "base_extra.config"
#include "rk3588_aarch64.config"

#include "audio.config"
#include "audio_gst.config"
#include "video_mpp.config"
#include "video_gst.config"

#include "gpu.config"

#include "qt.config"

BR2_PACKAGE_XORG7=y
BR2_PACKAGE_XSERVER_XORG_SERVER=y
BR2_PACKAGE_XSERVER_XORG_SERVER_MODULAR=y
BR2_PACKAGE_XTERM=y
