#include "chips/rk312x_arm.config"
#include "base/base.config"
#include "gpu.config"
#include "weston.config"
#include "video_mpp.config"
#include "video_gst.config"
#include "audio.config"
#include "audio_gst.config"
#include "camera.config"
#include "camera_gst.config"
#include "network.config"
#include "bt.config"
#include "vfat.config"
BR2_TARGET_GENERIC_HOSTNAME="rk312x"
BR2_TARGET_GENERIC_ISSUE="Welcome to RK312X Buildroot"
