# BR2_PACKAGE_CAMERA_ENGINE is reset to default
BR2_PACKAGE_COMMON_ALGORITHM=y
BR2_PACKAGE_IPCWEB_BACKEND=y
BR2_PACKAGE_IPCWEB_BACKEND_USE_RKIPC=y
BR2_PACKAGE_IVA=y
# BR2_PACKAGE_LIBMAD is reset to default
BR2_PACKAGE_NGINX=y
BR2_PACKAGE_NGINX_HTTP_FLV_LIVE=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_PCRE=y
# BR2_PACKAGE_PULSEAUDIO is reset to default
BR2_PACKAGE_RKFSMK=y
BR2_PACKAGE_RKIPC=y
BR2_PACKAGE_ROCKCHIP_MALI_HAS_DUMMY=y
BR2_PACKAGE_ROCKCHIP_MALI_HAS_GBM=y
BR2_PACKAGE_SAMPLES=y
